<a href="https://colab.research.google.com/github/Dinadedt/2022/blob/main/Tarea_1_del_conputo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Laboratorio I - CII

Utilizando las librerías obtenga la utilización de tarjetas de crédito: por sexo (cuenta) (20%), total en dólares 
utilizados diferenciando tarjetas de crédito por ciudad (2 criterios) (20%), total utilizado por tipo de gasto 
(20%).
Genere gráficos (usted elija) de los 3 resultados usando matplotlib (20%)
Genere como salida 3 archivos Excel, uno por cada resultado (20%)

In [1]:
#por sexo.
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
tarjetas = pd.read_csv("/content/trx_tarjetas_credito.csv",sep=";",encoding="utf-8")

In [21]:
proceso = pd.crosstab(index=tarjetas["Gender"],columns="utilizacion de tarjetas por sexo")
print(proceso)

col_0   utilizacion de tarjetas por sexo
Gender
F                                  13680
M                                  12372

In [28]:
agrupar = tarjetas.groupby(["Amount"]).agg({"count"}),pd.crosstab(index=tarjetas["City"],columns="utilizacion de tarjetas por sexo")
print(agrupar)

(        City  Date Card Type Exp Type Gender
       count count     count    count  count
Amount
1005       1     1         1        1      1
1018       1     1         1        1      1
1024       1     1         1        1      1
1026       1     1         1        1      1
1028       1     1         1        1      1
...      ...   ...       ...      ...    ...
994537     1     1         1        1      1
995634     1     1         1        1      1
996291     1     1         1        1      1
996754     1     1         1        1      1
998077     1     1         1        1      1

[24972 rows x 5 columns], col_0             utilizacion de tarjetas por sexo
City
Achalpur; India                                  9
Adilabad; India                                 10
Adityapur; India                                 6
Adoni; India                                     9
Adoor; India                                     7
...                                            ...
Zaidpur; India                                   5
Zamania; India                                   6
Zira; India                                      9
Zirakpur; India                                  3
Zunheboto; India                                 3

[986 rows x 1 columns])